<nav class="navbar navbar-dark bg-dark text-white p-2">
    <a class="navbar-brand" href="/">University System</a>

    <div>
        <a href="/Account/Login" class="text-white">Login</a>
    </div>
</nav>