<ul class="list-group">
    <li class="list-group-item"><a href="/Dashboard">Dashboard</a></li>
    <li class="list-group-item"><a href="/Students">Students</a></li>
    <li class="list-group-item"><a href="/Teachers">Teachers</a></li>
    <li class="list-group-item"><a href="/Courses">Courses</a></li>
    <li class="list-group-item"><a href="/Faculties">Faculties</a></li>
    <li class="list-group-item"><a href="/Groups">Groups</a></li>
    <li class="list-group-item"><a href="/Ratings">Ratings</a></li>
    <li class="list-group-item"><a href="/Attendance">Attendance</a></li>
    <li class="list-group-item"><a href="/Reports">Reports</a></li>
</ul>