@model IEnumerable<UniversityManagement.Core.Models.Faculty>

<h2>Faculty Report</h2>

<table class="table">
    <thead>
        <tr>
            <th>Faculty</th>
            <th>Groups</th>
            <th>Students</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var f in Model)
    {
        <tr>
            <td>@f.Name</td>
            <td>@f.Groups?.Count()</td>
            <td>@f.Groups?.Sum(g => g.Students.Count)</td>
        </tr>
    }
    </tbody>
</table>