@{
    ViewData["Title"] = "Reports";
}

<h2>Reports Dashboard</h2>

<ul>
    <li><a asp-action="StudentReport">Student Report</a></li>
    <li><a asp-action="FacultyReport">Faculty Report</a></li>
</ul>