@model UniversityManagement.Core.Models.Group

<h2>Group Details</h2>

<p><b>Name:</b> @Model.Name</p>
<p><b>Faculty:</b> @Model.Faculty?.Name</p>

<h4>Students</h4>

<ul>
@foreach (var s in Model.Students)
{
    <li>@s.FirstName @s.LastName</li>
}
</ul>

<a asp-action="Index">Back</a>