@model UniversityManagement.Core.Models.Student

<h2>Edit</h2>

<form method="post">
    <input name="FirstName" value="@Model.FirstName" />
    <input name="LastName" value="@Model.LastName" />
    <input name="Email" value="@Model.Email" />
    <button type="submit">Save</button>
</form>