@model UniversityManagement.Core.Models.Course

<h2>Create Course</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div>
        <label>Credits</label>
        <input asp-for="Credits" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-success mt-2">Save</button>
</form>